<!-- BEGIN:main -->

<script>

$(function() {

	$("#captcha").focus();
	
});

</script>

<div>

<!-- BEGIN:ok -->
<form class="celf_form" id="registracionConfirmar_form" onsubmit="return validate('registracionConfirmar_form');" action="{action}" method="{method}">

	<rasty id="backSuccess" />
    <rasty id="oid" />
    <rasty id="codigoValidacion" />

	<p>Hola {nombre}!</p>
	<p>Ya casi estás registrado. Completa tu registraci&oacute;n ingresando el c&oacute;digo de seguridad</p>
		
	<fieldset>
	
		<legend>{registracionConfirmar_legend}</legend>
		
		<div class="item">
		    <label for="siimage">{lbl_securitycode} *:</label>
		    <span class="input">
		    	<img id="siimage" align="left" style="padding-right: 5px; border: 0" src="{WEB_PATH}/libs/securimage/securimage_show.php?sid={sid_captcha}" />
                    
                <a tabindex="-1" style="border-style: none" href="#" title="{change_image}" onClick="document.getElementById('siimage').src = '{WEB_PATH}/libs/securimage/securimage_show.php?sid=' + Math.random(); return false">
                <img src="{WEB_PATH}/libs/securimage/images/refresh.png" title="{change_image}" alt="{change_image}" border="0" onClick="this.blur()" align="bottom" />
                </a>
		    </span>
		    
		</div>
		
		<div style="clear: both;"></div>
		

		<div class="item">
		    <label for="captcha">{lbl_captcha} *:</label>
		    <rasty id="captcha" />
		</div>

	</fieldset>
	<br />
	
	
</form>
<!-- END:ok -->

<!-- BEGIN: msg_error -->
<fieldset class="ui-state-error">
	{msg}	
</fieldset>
<!-- END: msg_error -->

<!-- BEGIN:nook -->
<!-- END:nook -->

<!-- BEGIN: submit -->
<form  class="celf_form" id="buttons{inputId}">
	<fieldset class="tblFooters">
	
		<button type="button"  id="input_submit" onclick="javascript: submitFormulario('registracionConfirmar_form'); "><i class="icon-checkmark on-left"></i>{lbl_submit}</button>

		<button type="button"  id="input_button_2" onclick="javascript: window.location.href = '{cancel}'; "><i class="icon-cancel-2 on-left"></i>{lbl_cancel}</button>
	
	</fieldset>
</form><!-- END: submit -->	
</div>
<!-- END:main -->