<!-- BEGIN:main -->
<script>

function submitBuscarSinSeguridad(webpath, filterId, resultId){
	//alert(filterId+' '+resultId);
	var formData = $( filterId ).serialize();
	
	//$( resultId ).fadeTo("fast", 0.33);
	right = ($(window).width() / 2) - (32);		
	htmlSearching = "<div style='position:absolute; right:" + right + "px;top:40px;'><img src='" + webpath + "/css/images/loading.gif' /></div>";
	$( resultId ).html($( resultId ).html() + htmlSearching);
		
	$.ajax({
		  url: webpath + "Reclamos.rasty",
		  type: "POST",
		  data: formData,
		  cache: false,
		  success: function(content){
		    
			$( resultId ).html(content);
			//$( resultId ).fadeTo("fast", 1);
			
		  }
		});	
}


function submitBuscarReclamos(){

	$( "#page" ).val( 1 );
	
	//buscarReclamos();

	submitBuscarSinSeguridad("{WEB_PATH}", "#reclamos_filter{id}", "#{resultDiv}");
}

function ordenarReclamos(name, type){

	$( "#orderBy" ).val(name);
	$( "#orderByType" ).val(type);
	
	submitBuscarSinSeguridad("{WEB_PATH}", "#reclamos_filter{id}", "#{resultDiv}");
}

function paginarReclamos(page){
	$( "#page" ).val(page);

	submitBuscarSinSeguridad("{WEB_PATH}", "#reclamos_filter{id}", "#{resultDiv}");
}

function seleccionarReclamo(event, reclamoId, rowId, checkboxId){


	/* muestro un pop con las opciones sobre el reclamo */
	
	gotoLink("{linkSeleccionar}?oid="+reclamoId);
	
}

function eliminarCallback(data){

	console.log( data["info"] );
	submitBuscarSinSeguridad("{WEB_PATH}", "#reclamos_filter{id}", "#{resultDiv}");
}


$(document).ready(function(){

	submitBuscarSinSeguridad("{WEB_PATH}", "#reclamos_filter{id}", "#{resultDiv}");

	 $(".item input").keyup(function (e) {
         if (e.keyCode == 13) {
             // función para capturar el enter en el filtro default.
        	 submitBuscarSinSeguridad("{WEB_PATH}", "#reclamos_filter{id}", "#{resultDiv}");
         }
     });
	
});


</script>



<div id="divReclamos{id}Toggle2">
<div class="fusion-page-title-bar fusion-page-title-bar-none fusion-page-title-bar-left">
	<div class="fusion-page-title-row">
		<div class="fusion-page-title-wrapper">
			<div class="fusion-page-title-captions">

																			<h1 class="entry-title">Reclamos</h1>

									
				
			</div>

										
		</div>
	</div>
</div>
<form class="cuentas_form" id="reclamos_filter{id}">

		
	
	
	<input type="hidden" name="model" value="{model}">
	<input type="hidden" name="filter" value="{filter}">
	<input type="hidden" name="sortCallback" value="ordenarReclamos">
	<input type="hidden" name="paginationCallback" value="paginarReclamos">
	<input type="hidden" name="selectRowCallback" value="{selectRowCallback}">
	<input type="hidden" id="orderBy" name="orderBy">
	<input type="hidden" id="orderByType" name="orderByType" value="DESC">
	<input type="hidden" id="page" name="page" value="1">

</form>
<form  class="cuentas_form" id="buttons{id}">
	<fieldset class="tblFooters">
		<br>
		<button class="wpcf7-form-control wpcf7-submit" id="input_submit_ajax_Abonado{id}"  type="button"  onclick="javascript: gotoLink('{linkAgregarReclamo}')"><i class="icon-search on-left"></i>{lbl_submit}</button>
		
		
		
		
		
	
	</fieldset>
</form>	
</div>
<!-- END:main -->